* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(165, 155, 104);
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(./images/yellowgtr.webp);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 1%;
}
.logo {
    color: bisque;
    font-size: 50px;
    letter-spacing: -5px;
    cursor: pointer;
}
h2 span {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
nav ul li {
    list-style: none;
    display: inline;
    padding: 10px 25px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
nav ul li a:hover {
    color: bisque;
    transition: .3s;
}
.content {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
.name {
    color: black;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h3 {
    color: black;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child {
    display: inline;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #858585;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:first-child:hover{
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    transition: .4s;
}
.newslatter form input:last-child {
    position: absolute;
    display: inline;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: bisque;
    margin-top: 5px;
    cursor: pointer;
    color: black;
    right: 6px;
    top: 1px;
}
.newslatter form input:last-child:hover {
    color: rgb(90, 90, 90);
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    transition: .4s;
}
.about-me {
    width: 100%;
    padding: 100px 0px;
    background-color: bisque;
}
.about-me img {
    height: auto;
    width: 430px;
}
.about-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    color: black;
    font-size: 65px;
    margin-bottom: 20px;
}
.about-text h5 {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;   
}
button {
    color: bisque;
    background-color: black;
    padding: 13px 30px;
    border-radius: 30px;
    /* box-shadow: 0px 0px 5px, 0px 0px 15px; */
    border: 2px solid gray;
    cursor: pointer;
}
button:hover {
    transition: .4s;
    transform: scale(1.2);
    background-color: transparent;
    color: black;
}
/* .title {
text-decoration: none;
color: bisque;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-size: 30px;
} */
/* h1 {
    position:absolute;
} */
/* h2 ul li {
    list-style: none;
    display: inline;
    margin: .50px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 100px; 
}*/